  <div class = "bottom" id="bottom" data-turbolinks-permanent>
    <div class="container">
      <div class="row">
        <div class="three columns">
          <div class="logo"></div>
        </div>
        <div class="three columns">&nbsp;</div>
        <div class="three columns">
          <h5>About</h5>
          <p>WJRH is Lafayette College’s student run radio station broadcasting since 1946. You can listen to us on 104.9MHz on the radio in the Lehigh Valley area. Our studios are located in Hogg Hall, on Lafayette College’s campus.</p>
        </div>
        
        <div class="three columns">
          <h5>Follow us</h5>
          <a href="https://twitter.com/wjrh1049fm/"><p>Twitter</p></a>
          <a href="https://www.facebook.com/WJRH1049"><p>Facebook</p></a>
          <a href="http://instagram.com/wjrhradio"><p>Instagram</p></a>
        </div>
      </div>
    </div>
  </div>