<div class="row navbar player-extra-spacing">
  <div class="three columns">
    <a href="/"><div class="logo"></div></a>
  </div>
  <div class="nine columns">
    <div class="vert-divider"></div>

  </div>
</div>