<div class="row navbar">
  <div class="three columns">
    <a href="/"><div class="logo"></div></a>
  </div>
  <div class="nine columns">
    <div class="vert-divider"></div>
    <div class="nowplaying" id="nowplaying">
      <button id="play" class="play" onclick="togglePlay()">
        <div class="nowplaying-status">
          <div style="color: red" id="liveicon"><i class="fa fa-play"></i></div>
          <div id="listen-button">LISTEN NOW</div>
        </div>
      </button>
      <div class="nowplaying-dj" id="nowplaying-dj">
        <i class="fa fa-microphone"></i>
        <div id="djdata">LOADING</div>
      </div>
      <div class="nowplaying-song">
        <i class="fa fa-music"></i>
        <div id="songdata">LOADING</div>
      </div>
    </div>
  </div>
</div>