<div class="fixed-player">
	<ul class="player-container">
		<li class="nowplaying" onclick="volumeAdjust()">
			<i class="fa fa-volume-up fa-2x"></i>
		</li>

		<li class="nowplaying" onclick="togglePlay()">

			<div id="liveicon" ><i class="fa fa-play fa-2x"></i></div>
			<div class="listen-button"></div>
		</li>

		<li class="nowplaying" id="nowplaying-dj">
			<i class="fa fa-microphone fa-lg"></i> <div id="djdata">LOADING</div>
		</li>

		<li class="nowplaying">
			<i class="fa fa-music fa-lg"></i> <div id="songdata">LOADING</div>
		</li>

	</ul>
</div>