<div class="row">
	<div class="twelve columns">
		<img src="https://placeholdit.imgix.net/~text?txtsize=90&bg=104235&txtclr=28e7b5&txt=960%C3%97480&w=960&h=480">
	</div>
</div>
<div class="row main-title">
	<div class="twelve columns">
		<h1><%= show[:shortname] %></h1>
	</div>
	<div class="ten columns offset-by-one column">
		<p><%= show[:description] %></p>
	</div>
</div>
