---
title: Welcome to Middleman
---

<div class="row">
	<div class="twelve columns">
		<video src="video/pardee.mp4" autoplay loop muted width="960"></video>
	</div>
</div>
<div class="row main-title">
	<div class="six columns offset-by-three columns">
		<h3>Best Music in the Lehigh Valley</h3>
	</div>
	<div class="ten columns offset-by-one column">
		<p>Broadcasting since 1946, WJRH has been a major part of life on Lafayette College's campus and beyond in the Lehigh Valley community. We provide the soundtrack to the Lafayette experience and make our voice heard by the greater community. You can listen to us 24/7 every day of the year on 104.9 FM in the area and worldwide from here.</p>
		<a class="button button-primary" href="https://docs.google.com/spreadsheets/d/1QSUZsRtJ3fQAG0Rj474JJdeG388e2L6xMwZQD-pxVUI/pubhtml" target="_blank">View schedule</a>

	</div>
</div>


<div class="row featured">
	<div class="four columns">
		<video src="video/disco.mp4" autoplay loop muted width="300"></video>
		<h6>Mondays at 5PM</h6>
		<h4>BassIQ Radio with Saleem James</h4>
		<p>From dance to electronic to lounge, Saleem James presents his eclectic taste in music in this show. Perfect for speeding on the autobahn or for romanticizing a life on another planet, or maybe just in another country.</p>
	</div>
	<div class="four columns">
		<video src="video/newspaper.mp4" autoplay loop muted width="300"></video>
		<h6>Special Report</h6>
		<h4><a href="http://newspaper.wjrh.org">Situation of the Newspaper  <i class="fa fa-external-link"></i></a></h4>
		<p>The Lafayette, the oldest student newspaper in Pennsylvania, came up with an unexpected announcement saying that they are in threat of shutting down because of underfunding. Listen to a response from the Student Government Treasurer Ricky Lanzilotti. Interview by Ivan Evtimov and The Jay.</p>
	</div>
	<div class="four columns">
		<video src="video/indie.mp4" autoplay loop muted width="300"></video>
		<h6>Mondays at 4PM</h6>
		<h4>Indie Dependent with DJ El Train</h4>
		<p>A source of all things indie and obscure, Indie Dependent aims to bring music you may not have heard to your ears. Some of it's mellow and chill, some of it's odd and off-the-wall, and all of it's less than mainstream. Listen to Indie Dependent every Monday at 4 pm and you're guaranteed to stay weird.</p>
	</div>
</div>