<div class="row">
	<div class="twelve columns">
		<img src="https://placeholdit.imgix.net/~text?txtsize=90&bg=104235&txtclr=28e7b5&txt=960%C3%97480&w=960&h=480">
	</div>
</div>
<div class="row main-title">
	<div class="twelve columns">
		<h2>Various Breads and Butters</h2>
	</div>
	<div class="ten columns offset-by-one column">
		<p>Broadcasting since 1946, WJRH has been a major part of life on Lafayette College's campus and beyond in the Lehigh Valley community. We provide the soundtrack to the Lafayette experience and make our voice heard by the greater community. You can listen to us 24/7 every day of the year on 104.9 FM in the area and worldwide from here.</p>
	</div>
</div>
